body {
    margin: 0;
    overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
}

#device-orientation-ball {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #3498db;
    position: relative;
}
